<!-- Facebook Custom Audience Pixel Code - Placed on Every Page of Site -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', 'FACEBOOK_PIXEL_ID');
fbq('track', 'PageView');
</script>
<noscript>
	<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=FACEBOOK_PIXEL_ID&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Custom Audience Pixel Code -->

<!-- Facebook Paramater Guide
	// Recommended For Every Event - This is used to calculate ROAS (Return On Ad Spend) and does not have to be an actual transaction value.
	value: value of a user performing this event to the business
	currency: currency for the value specified
	
	// Required for Dynamic Product Ads
	content_ids: Product ids associated with the event. e.g. SKUs of products for AddToCart event: ['ABC123', 'XYZ789']
	content_type: Either 'product' or 'product_group' based on the content_ids being passed. If the ids being passed in content_ids parameter are ids of products then the value should be 'product'. If product group ids are being passed, then the value should be 'product_group'.
	
	// Everything Else
	content_name: Name of the page/product
	content_category: Category of the page/product 
	content_ids: Product ids associated with the event. e.g. SKUs of products for AddToCart event: ['ABC123', 'XYZ789'] 
	content_type: Either 'product' or 'product_group' based on the content_ids being passed. If the ids being passed in content_ids parameter are ids of products then the value should be 'product'. If product group ids are being passed, then the value should be 'product_group'.
	num_items: Used with InitiateCheckout event. The number of items that checkout was initiated for. 
	search_string: Used with the Search event. The string entered by the user for the search
	status: Used with the CompleteRegistration event, to show the status of the registration.
-->

<!-- Facebook Conversion Event: View Content -->
<script>
	fbq('track', 'ViewContent', { 
        	value: 0.10,
        	currency: 'PLN',
        	content_name: 'My Amazing Product',
        	content_type: 'product', // Required for Dynamic Product Ads
        	content_ids: 'ABC123' // Required for Dynamic Product Ads
        	content_category: 'Apparel & Accessories > Shoes' 
    	});
</script>
<!-- End Facebook Conversion Event: View Content -->

<!-- Facebook Conversion Event: Add to cart -->
<script>
	fbq('track', 'AddToCart', { 
		value: 50.00,
		currency: 'PLN',
		content_name: 'My Amazing Product',
		content_type: 'product', // Required for Dynamic Product Ads
		content_ids: 'ABC123' // Required for Dynamic Product Ads
    	});
</script>
<!-- End Facebook Conversion Event: Add to cart -->

<!-- Facebook Conversion Event: Initiate Checkout -->
<script>
	fbq('track', 'InitiateCheckout', { 
		value: 75.00,
		currency: 'PLN',
		content_name: 'Checkout',
		content_category: 'snippets',
		content_ids: ['ABC123','DEF321'],
		num_ids: 2
    	});
</script>
<!-- End Facebook Conversion Event: Initiate Checkout -->

<!-- Facebook Conversion Event: Purchase -->
<script>
	fbq('track', 'Purchase', { 
		value: 75.00,
		currency: 'PLN',
		content_type: 'product',
		content_ids: ['ABC123','DEF321'],
    	});
</script>
<!-- End Facebook Conversion Event: Purchase -->

<!-- Facebook Conversion Event: Lead -->
<script>
	fbq('track', 'Lead');
</script>
<!-- End Facebook Conversion Event: Lead -->

<!-- Facebook Conversion Event: Contact -->
<script>
	fbq('track', 'Contact');
</script>
<!-- End Facebook Conversion Event: Contact -->
